parameters:
    level: 4
    paths:
        - src
    ignoreErrors:
        # break BC
        - '#Unsafe usage of new static\(\)\.#'
        - '#PHPDoc tag \@param has invalid value \(Stream \.\.\.\):#'
